account_name: # this can be anything to identify your account so you can have multiple same exchange
  exchange_name: # exchange name e.g kucoin, ascendex, binance, gateio (ccxt exchange identifier)
  market_type: spot # spot, swap, future, margin
  api_key: # api key
  secret: # secret if have
  password: null # replace null if have
  uid: null # replace uid if required
test: 
  exchange_name: ascendex
  market_type: spot
  api_key: random_api_key
  secret: random_secret
  password: null # replace null if have
  uid: null # replace uid if required